.conatiner-boxes{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

.heading-2{
    text-align: center;
    font-size: 2vmax;
    padding: 0 15rem;
    font-weight: 700;
}
.conatiner-boxes-x{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px){
    .conatiner-boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex-direction: column;
    }
    .heading-2{
        padding: 0 1rem;
    }
}